.container{
    text-align: center;
    border: 2px solid blue;
    border-radius: 9px;
    width: 30%;
    height: 40%;
    display: gird;
    padding: 20px;
    background-color: aqua;
    margin-left: 35%;
    margin-top: 12%;
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    margin: 50px;
}
button{
    margin-top: 20px;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 4px;
    color: white;
}